

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Modify the scrollbar color */
::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
  cursor: none;
}

/* Modify the thumb (scroll handle) color */
::-webkit-scrollbar-thumb {
  background-color:  #6C63FF;
  border-radius: 10px;
}

/* Modify the thumb (scroll handle) hover color */
::-webkit-scrollbar-thumb:hover {
  background-color:#5751ce;
}
